body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box{
    border: 2px solid lightgray;
    width: 530px;
    height: 400px;
    border-radius: 15px;
    margin: 40px auto;
}
.card{
    width: 100%;
    height: 400px;
    position: relative;
}
.card-img{
    width: 100%;
    height: 40%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.user-img{
    height: 150px;
    position: absolute;
    top: 80px;
    left: 185px;
    border: 3px solid #fff;
    border-radius: 100%;
}
.text{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}
.text-p{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: grey;
    margin-top: -10px;
}