body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
    width: 1000px;
    height: 500px;
    margin: 0px auto;
    position: relative;
}
.bg-image{
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.heading{
    font-size: 49px;
    position: absolute;
    color: white;
    top: 30%;
    bottom: 50%;
    left: 16%;
}
.article{
    position: absolute;
    color: white;
    top: 50%;
    bottom: 50%;
    font-size: 20px;
}
.btn{
    position: absolute;
    left:40%;
    height: 60px;
    width: 200px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 30px;
    bottom: 20%;
}
.center{
    text-align: center;
}