body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.food-card{
    width: 500px;
    height: 550px;
    margin: 40px auto;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 15px;
}
.food-img{
    position: relative;
}
.image{
    width: 100%;
    border-radius: 20px;
    
}
.offer{
    position: absolute;
    width: 200px;
    word-spacing: 2px;
    padding: 2px 10px;
    font-size: 20px;
    bottom: 5px;
    color: white;
    background-color: blue;
    font-weight: 600;
}
.time{
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 64px;
    background-color: white;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.promoted{
    color: white;
    position: absolute;
    font-size: 17px;
    background-color:  lightgray;
    width: 95px;
    border-radius: 5px;
    padding: 3px;
    top: 5px;
    left:10px;
}
.card-body{
    margin: auto;
}
.card-title{
    font-size: 30px;
    margin: auto;
}
.card-address{
    font-size: 23px;
    word-spacing: 2px;
    margin: 10px 0;
    width: 230px;
    color: gray;
}
.solid{
    margin: 12px 0;
    color: lightgrey;
}
.safe{
    font-size: 20px;
    color: grey;
}
.center{
    text-align: center;
}