.center{
    text-align: center;
}
.login{
    width: 400px;

    margin: 120px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    width: 80%;
    margin-bottom: 12px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.btn{
    width: 40%;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
}
.sign-up{
    margin-top: 40px;
}
.color{
    color: gray;
}
.link-color{
    color: black;
}
p >a{
    color: grey;
}
.size{
    font-size: 13px;
}