@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family:'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.box{
    width: 600px;
    height: 520px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 30px auto;
}
.box-content{
    padding: 25px;
}
.heading{
    font-size: 30px;
    padding: 10px;
    height: 22px;
}
.content{
    color: grey;
    font-size: 18px;
    padding: 10px;
    width: 500px;
    margin-top: 14px;
}
.image-box{
    padding: 25px;
}
.circle-aveter-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.avater {
    width: 100%;
    border-radius: 50%;
}


hr.solid {
    border-top: 1px solid #bbb;
    margin-top: 3px;
}
.box-footer{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
a.link{
    font-size: 19px;
    font-weight: bolder;
    color: rgb(108, 108, 244);
    text-decoration: none;
}