body{
    font-family: Okra, Helvetica, sans-serif;
}

.container{
    width: 1550px;
    height: 900px;
    margin: 0px auto;
    position: relative;
}
.bg-image{
    width: 100%;
    position: absolute;
}
.logo{
    top: 17%;
    left: 37%;
    width: 400px;
    position: absolute;
}
.text{
    color: white;
    font-size: 55px;
    position: absolute;
    bottom: 55%;
    left: 16%;
}
.input{
    position: absolute;
    bottom: 50%;
    left: 15%;
    width: 70%;
    margin-bottom: 12px;
    padding: 19px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid lightgray;
    
}
.center{
    text-align: center;
}
