@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}


.card{
    border: 1px solid lightgray;
    width: 400px;
    height: 550px;
    margin: 30px auto;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.sub{
    text-align: center;
    font-size:15px;
    color: grey;
    padding: 10px;
    margin-top: 20px;
}
.header{
    font-size: 25px;
    width: 100%;
    margin: 1px;
}

.para{
    color: gray;
    line-height: 1.25rem;
}

.card-body{
    padding: 24px 16px 18px;
}
.btn{
    color: rgb(50, 50, 231);
    font-weight: bold;
    margin-top: 9px;
    font-size: 16px;
    background-color: white;
    border: 1px solid lightgray;
    height: 40px;
    width: 150px;
    border-radius: 6px;
}